.flex {
  display: flex;
}

/* .table_top  {
  flex-direction: row-reverse;
} */

.table_top_right {
  gap: 20px;
  flex: 1;
}

.table_bottom {
  gap: 20px;
}

.table_top_left {
  width: 125px;
}

.table_top {
  width: 900px;
  border: 1px solid black;
}

.vacancy {
  flex: 1;
}

.row {
  width: 100%;
}